{extend name='IndexPublic:index'}
{block name='body'}
<div class="col-sm-12">
<div class="panel-body"> 
   <div class="adv-table editable-table "> 
    <div class="space15"></div> 
    <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
     <div class="row">
      <div class="col-lg-6">
       <div id="editable-sample_length" class="dataTables_length">
        <label><select size="1" name="editable-sample_length" aria-controls="editable-sample" class="form-control xsmall"><option value="5" selected="selected">5</option><option value="15">15</option><option value="20">20</option><option value="-1">All</option></select> records per page</label>
       </div>
      </div>
      <div class="col-lg-6">
       <div class="dataTables_filter" id="editable-sample_filter">
        <label>Search: <input type="text" aria-controls="editable-sample" class="form-control medium" /></label>
       </div>
      </div>
     </div>
     <table class="table table-striped table-hover table-bordered dataTable" id="editable-sample" aria-describedby="editable-sample_info"> 
      <thead> 
       <tr role="row">
        <th class="sorting" role="columnheader">管理员</th>
        <th class="sorting" role="columnheader">添加时间</th>
        <th class="sorting" role="columnheader">等级</th>
        <th class="sorting" role="columnheader">状态</th>
        <th class="sorting" role="columnheader">操作</th>
       </tr> 
      </thead> 
      <tbody role="alert" aria-live="polite" aria-relevant="all">
      {foreach name='admin_user' item='rows'}
       <tr> 
        <td class="double_updata" dblID='2' dblName='adminname'>{$rows['adminname']}</td> 
        <td class="">{$rows['addtime']}</td> 
        <td class="">{$rows['level']}</td> 
        <td class="">{$rows['status']}</td> 
        <td class=""><a class="delete" href="javascript:;">删除</a></td> 
       </tr>
       {/foreach}
      </tbody>
     </table>
     <div class="row">
      <div class="col-lg-6">
       <div class="dataTables_info" id="editable-sample_info">
        Showing 1 to 5 of 28 entries
       </div>
      </div>
      <div class="col-lg-6">
       <div class="dataTables_paginate paging_bootstrap pagination">
        <ul>
         <li class="prev disabled"><a href="#">← Prev</a></li>
         <li class="active"><a href="#">1</a></li>
         <li><a href="#">2</a></li>
         <li><a href="#">3</a></li>
         <li><a href="#">4</a></li>
         <li><a href="#">5</a></li>
         <li class="next"><a href="#">Next → </a></li>
        </ul>
       </div>
      </div>
     </div>
    </div> 
   </div> 
  </div>
  </div>
{/block}